body {
    display: flex;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

canvas {
    /* position: relative; */
    background-color: #333;
    display: block;
    margin: auto;
}

button {
    padding: 10px;
}

label {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

}

input {
    flex-grow: 1;
    cursor: pointer;
}

form {
    text-align: center;
}

div[data-hidden] {
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 1;
}

.options,
.explanation {
    position: absolute;
    border: none;
    top: 10vh;
    width: 12%;
    height: 4vh;
    /* left: calc((100vw - 100vh) / 2 + 100vh); */
    left: calc(50vw + 50vh);
    z-index: 5;

    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s ease;
}

.explanation {
    top: 15vh;
    width: 12%;
}

.explanation:hover {
    background-color: cornsilk;
    width: 16%;
}

.options:hover {
    /* transition: all 0s; */
    background-color: cornsilk;
    width: 16%;
}

.options-modal,
.explanation-modal {
    position: absolute;
    z-index: -5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: calc(50vw + 50vh);
    border: none;
    transform: translateX(-100%);
    /* padding: 20px 30px; */
    /* background-color: rgba(51, 51, 51, 0.875); */
    background-color: rgba(142, 74, 74, 0.759);
    width: 300px;
    height: 100vh;
    padding: 100px 10px;
    gap: 20px;

    transition: all 0.3s ease;
    opacity: 0;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}

.speed {
    margin-top: 20px;
}

.speed svg {
    margin-right: 10px;
    /* transform: scale(0.5); */
}

.chance {
    flex-wrap: wrap;
    row-gap: 20px;
}

.chance img {
    display: block;
    margin-right: 10px;
}

.chance span {
    width: 100%;
    text-align: center;
    display: block;
}