@import url(https://fonts.googleapis.com/css?family=Urbanist:500,700);

body {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    display: flex;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

canvas {
    /* position: relative; */
    background-color: #333;
    display: block;
    margin: auto;
}

button {
    font-family: 'Urbanist', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}

form > button:active {
    transition: all 0.1s ease;
    transform: scale(0.9);
}

label {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

}

input {
    flex-grow: 1;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
}

form > button > i {
    pointer-events: none;
    font-size: 20px;
    color: rgb(34, 61, 238);
}

div[data-hidden] {
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 1;
}

li {
    margin-left: 30px;
}

a {
    color: rgb(31, 31, 241);
}

.options,
.explanation,
.rules,
.pattern {
    position: absolute;
    border: none;
    top: 10vh;
    width: 12%;
    height: 4vh;
    /* left: calc((100vw - 100vh) / 2 + 100vh); */
    left: calc(50vw + 50vh);
    z-index: 5;

    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s ease;
}

.pattern {
    top: 25vh;
}

.rules {
    top: 20vh;
}

.explanation {
    top: 15vh;
}

.explanation:hover,
.options:hover,
.pattern:hover,
.rules:hover {
    font-size: 20px;
    background-color: cornsilk;
    width: 16%;
}

.options-modal,
.explanation-modal,
.pattern-modal,
.rules-modal {
    position: absolute;
    z-index: -5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: calc(50vw + 50vh);
    border: none;
    transform: translateX(-100%);
    /* padding: 20px 30px; */
    /* background-color: rgba(51, 51, 51, 0.875); */
    background-color: rgba(225, 196, 196, 0.91);
    width: 300px;
    height: 100vh;
    padding: 100px 20px;
    gap: 20px;

    transition: all 0.3s ease;
    opacity: 0;
}

.pattern-modal {
    width: calc(100vw - (100vw - 100vh));
    padding: 100px 0;
}


.pattern-modal-list li {
    text-align: center;
    margin: 30px 0;
    display: block;
    width: calc((100vw - (100vw - 100vh)) / 5)
}

.pattern-modal-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    columns: 3;
}

.rules-modal {
    width: 500px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}

.speed {
    margin-top: 20px;
}

.speed svg {
    margin-right: 10px;
    /* transform: scale(0.5); */
}

.chance {
    flex-wrap: wrap;
    row-gap: 20px;
}

.chance img {
    display: block;
    margin-right: 10px;
}

.chance span {
    width: 100%;
    text-align: center;
    display: block;
}